
streamlit
python-dotenv
langchain-groq
langchain-core
langchain-community
langchain-huggingface
langchain-text-splitters
langchain-chroma
chromadb == 0.4.24
pydantic<2
protobuf<=3.20.3
numpy<2.0
pypdf
requests

torch
transformers
tokenizers
accelerate
sentence-transformers
